** Class_09 **

Try Except = Error Handling

** Class Assignment 09 **

# User_Input = Input ("Entre Your Number")
* Creat Table
* User InterFace Table

In [5]:
try:
    num = int(input("Enter a Number: "))
    print(f"You Entered: {num}\n")

    print(f"Multiplication Table of {num}:\n")
    for i in range(1, 16):
        print(f"{num} x {i} = {num * i}")

except ValueError:
    print("Invalid Input! Please Enter a Valid Number.")

Enter a Number: 6
You Entered: 6

Multiplication Table of 6:

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
6 x 13 = 78
6 x 14 = 84
6 x 15 = 90

In [ ]:
try:
    num = int(input("Enter a Number: "))
    print(f"You Entered: {num}\n")

    print(f"Multiplication Table of {num}:\n")
    for i in range(1, 16):
        print(f"{num} x {i} = {num * i}")

except ValueError:
    print("Invalid Input! Please Enter a Valid Number.")

Enter a Number: 7
You Entered: 7

Multiplication Table of 7:

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
7 x 13 = 91
7 x 14 = 98
7 x 15 = 105

In [4]:
import calendar

# User input with error handling
try:
    num = int(input("Enter a Number: "))
    print(f"You Entered: {num}\n")
except ValueError:
    print("Invalid Input! Please enter a valid number.")
    num = None

# Calendar Example
try:
    year = int(input("\nEnter a Year to Display the Calendar: "))
    print(calendar.calendar(year))  # Display full year's calendar
except ValueError:
    print("Invalid Year! Please enter a valid number.")

Enter a Number: 2003
You Entered: 2003


Enter a Year to Display the Calendar: 2003
                                  2003

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [1]:
num1 = int(input('Enter A Number:'))

for i in range(1,21):
    print(f'{num1}x{i} ={num1*i}')
    i +=1

Enter A Number:1
1x1 =1
1x2 =2
1x3 =3
1x4 =4
1x5 =5
1x6 =6
1x7 =7
1x8 =8
1x9 =9
1x10 =10
1x11 =11
1x12 =12
1x13 =13
1x14 =14
1x15 =15
1x16 =16
1x17 =17
1x18 =18
1x19 =19
1x20 =20